


#head{
	margin: auto;
	width: 1200px;
	height: 130px;
	background-color: #4472C4;
}

#head h1{
	text-align: center;
	line-height: 130px;
	color: #F1F1F1;
}

#base{
	display: flex;
	align-items: stretch;
	margin: auto;
	width: 1200px;
	background-color: #D3D3D3;
	
}

#nav{
	float: left;
	position: relative;
	
	width: 300px;
	background-color: #D0A16B;
}

#nav table{
	margin: auto;
	border-spacing: 30px;
}

#nav button{
	padding: 10px 20px;
	font-size: large;
	letter-spacing: 3px;
}

#content{
	width: 900px;
	vertical-align: top;
	background-color: #d3d3d3;
	display: inline-block;
}

#content h5{
	margin: 0;
}